.Footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #053384;
    color: white;
    gap: 10px;
    padding: 25px 30px;
    padding-bottom: 10px;
    /* text-align: center; */
    border-top: 4px solid #d4d401;
}

.Footer_container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.Footer_philosophy {
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
}

@media screen and (max-width: 1200px) {
    .Footer_philosophy { 
        right: 50px;
    }
}

@media screen and (max-width: 800px) {
    .Footer {
        text-align: center;
    }
    .Footer_info {
        justify-content: center;
    }
    .Footer_philosophy { 
        position: unset;
        height: 80px;
        margin-top: 20px;
    }
}

.Footer_info {
    display       : flex;
    align-items: center;
    gap           : .6rem;
}

.Footer_info > h3 {
    font-weight: 400;
}